$color:plum;
// $bright: brightness($color, 50%);
$bright: rgb(141, 139, 249);
$dark: rgb(17, 0, 146);
// $dark_: darken($color, 50%);
html {
    font-size: 110%;
}
.header {
    border-bottom: solid 2px $color;
    height: auto;
}
.additional-menu p{
    color: $color; 
    padding-bottom: 0.7rem;  
}

// .header-header{
//     // display: flex;
//     // align-items: center; 
// }
.test{
    border: solid 10px $color;
}
.logo {
    width: auto;
    height: 3rem;
    margin: 0.2rem;
    // display: inline-block;
    // vertical-align: middle;
}
.search-form{
    width: 576px;
    height: 88px;
    // margin: 0 auto;
    display: flex;
    position: relative;
    height:auto;
}
.search-input{
    border: solid 2px $color;
    border-radius: 2rem;
}
.search-select{
    border: 0px solid $color;
    text-align: center;
    /*background-color: lighten($color, 40%);*/
    border-radius: 2rem;
    color: gray;
}
.nav-mar{
    margin-top: 0.7rem;
}
.header-menu a{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: darken($color, 7%);
    font-size: 18px;
    font-weight: 600;
}
.header-menu {
    margin: 0 auto;
}


.search-button{
        background-color: lighten($color, 5%);
        border-radius: 1rem;
        color: white;
}
// .active {
//     background-color: black;
// }



// home

main{
    margin: 1rem;
}
.sub-title{
    border-left: $dark solid 2px;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}
.main-box{
    margin-bottom:2rem;
    border-radius: 1.5rem;
}
.book{
    margin:1rem;
    margin-top:1.7rem;
    margin-bottom:1.7rem;
}

.login-main{
    border: $color solid 3.5px;
    border-radius: 2rem;
    padding:6rem;
    height: 25rem;
    width: 40rem;
    margin: 0rem;
    margin-top:-1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-input{
    width:25rem;
}
.login-text{
    margin: 1rem;
    padding-left: 1rem;
    border-left: 3px solid $color;
}
.login-button{
    background-color: $bright;
    border: $dark 1px solid;
    color: $dark;
    font-weight: 500;
}


.register-main{
    border: $color solid 3.5px;
    border-radius: 2rem;
    padding:4rem;
    height: auto;
    width: 35rem;
    margin: 0rem;
    margin-top:-1.5rem;
    margin-left:3rem;
    // align-items:center;
    
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}
.register-input{
    margin-top: 0.3rem;
}
.register-text{
    margin: -2rem;
    margin-bottom: 1rem;
    font-size: 27px;
    color: $dark;
}
.register-button{
    // margin-top: 1rem;
    background-color: $color;
    border:none;
    margin-top: 1.7rem;
}

// display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh; /* 필요한 높이 값으로 변경 가능 */
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
